<div class="row top">
  <div id="slide-1" class="title large-60 small-centered columns margin-top">
    <h1> Ask Disyfer a question! </h1>
  </div>
</div>
<div class="row">
  <div class="large-40 small-centered columns margin-top-large">
    <input type="text" autofocus="" class="box-shadow question" placeholder="Where should I go to school?">
    <div class="sample">
    <h2> Which apartment should I sign?</h2>
    <h2> Which job offer should I take? </h2>
    <h2> Where should I move to? </h2>
    <h2> Which trip should I take? </h2>
    <h2> What car should I buy? </h2>
    <h2> Which grad school should I go to? </h2>
    <h2> What car should I buy? </h2>
    </div>
  </div>
</div>
<div class="row matrix">
<div class="large-40 small-centered columns">
  <h2 id="matrix-title" class="blurry-text"></h2>
</div>
</div>
<div class="row options" style="display:none">
  <div id="slide-2" class="title large-60 small-centered columns">
    <h1> List your options </h1>
    <div class="row">
      <div class="large-30 small-centered columns options" style="margin-top:5px;">
        <input type="text" id="option-1" class="box-shadow" >
        <input type="text" id="option-2" class="box-shadow" >
        <input type="text" id="option-3" class="box-shadow" >
        <input type="text" id="option-4" class="box-shadow" style="display:none;">
        <input type="text" id="option-5" class="box-shadow" style="display:none;">
        <span class="plus">+</span>
      </div>
    </div>
  </div>
</div>

