<h1> Gmail Login </h1>

<% @unread_messages.each do |key, value| %>
<div class="from"><%= key %></div>
<% value.each do |message| %>
<div class="message">
  <%= message.message.subject %> |
  <%= message.message.date %> |
    
</div>
<% end %>
<% end %>