<h1> Gmail Login </h1>

<% @grouped_unread_messages.each do |key, value| %>
<div class="from"><%= key %></div>
<% value.each do |message| %>
<div class="message">
  <%= message["subject"] %> 
</div>
<% end %>
<% end %>