<div class="row top">
  <div id="slide-1" class="title large-60 small-centered columns margin-top">
    <h1> Ask Disyfer a question! </h1>
  </div>
</div>
<div class="row">
  <div class="large-40 small-centered columns margin-top-large">
    <input type="text" autofocus="" class="box-shadow question" placeholder="...Where should I go to school?">
  </div>
</div>
<div class="row matrix">
  <h2 id="matrix-title" class="blurry-text"></h2>
</div>
<div class="row options" style="display:none">
  <div id="slide-2" class="title large-60 small-centered columns" style="margin-top:5px;">
    <h1> What are your options? </h1>
    <div class="row">
      <div class="large-30 small-centered columns" style="margin-top:5px;">
        <input type="text" id="option-1" class="box-shadow" >
        <input type="text" id="option-2" class="box-shadow" >
        <input type="text" id="option-3" class="box-shadow" >
        <input type="text" id="option-4" class="box-shadow" style="display:none;">
        <input type="text" id="option-5" class="box-shadow" style="display:none;">
        <span class="plus">+</span>
      </div>
    </div>
  </div>
</div>

